{% comment %}
  Renders a quiz step
  Accepts:
  - block: {Object} Block settings (optional)
  - step_index: {Integer} Current block iteration
  - dog_breeds: {Object} Passes the dog breed json from shop metafields

  Usage:
  {%- render 'quiz-step', block: block, step_index: forloop.index0, dog_breeds: shop.metafields.shop.dog_breed_list.value -%}
{% endcomment %}

<quiz-step quiz-step-index="{{ step_index }}" {{ shopify.block_attributes }}>
  {%- unless step_index == 0 -%}
    <quiz-back
      class="quiz-step__back--mobile"
    >
      {%- render 'icon-arrow' -%}
      {{- section.settings.prev_btn_text -}}
    </quiz-back>
  {%- endunless -%}

  <form class="quiz-step__form">
    <div class="quiz-step__contents">
      {%- if block.settings.heading != blank -%}
        <div
          class="quiz-step__heading"
          animate
          animate-fade-in
        >
          {{- block.settings.heading | replace: '[dog_name]', '<span dog-name>your dog</span>' -}}
        </div>
      {%- endif -%}

      {%- if block.type contains 'radio-icon' -%}
        {%- assign radio_array = block.settings.label | split: ',' -%}

        <div
          class="quiz-step__radio-wrap"
          animate
          animate-fade-in
        >
          {%- for radio in radio_array -%}
            {%- liquid
              assign radio_split = radio | split: ':'
              assign radio_text = radio_split[0]
              assign radio_icon = radio_split[1]
              assign radio_width = radio_split[2]
            -%}

            <div class="quiz-step__radio-block quiz-step__radio-block--icon">
              <input
                class="quiz-step__input"
                type="radio"
                name="{{ block.settings.name | strip}}"
                value="{{ radio_text | strip }}"
                id="{{ block.settings.name | append: '_' | append: forloop.index }}"
              >

              <label
                class="quiz-step__radio-label quiz-step__radio-label--{{ block.type }} quiz-step__radio-label--{{ block.settings.icon_coloring }}"
                for="{{ block.settings.name | append: '_' | append: forloop.index }}"
                {% if radio_width %}
                  style="--icon-width: {{ radio_width }}px;"
                {% endif %}
              >
                {%- liquid
                  if radio_icon
                    case radio_icon
                      when 'icon-dog-size-1'
                        render 'icon-dog-size-1'
                      when 'icon-dog-size-2'
                        render 'icon-dog-size-2'
                      when 'icon-dog-size-3'
                        render 'icon-dog-size-3'
                      when 'icon-dog-size-4'
                        render 'icon-dog-size-4'
                      when 'icon-dog-size-5'
                        render 'icon-dog-size-5'
                      when 'icon-dog-body-type-1'
                        render 'icon-dog-body-type-1'
                      when 'icon-dog-body-type-2'
                        render 'icon-dog-body-type-2'
                      when 'icon-dog-body-type-3'
                        render 'icon-dog-body-type-3'
                      when 'icon-dog-body-type-4'
                        render 'icon-dog-body-type-4'
                      when 'icon-dog-body-type-5'
                        render 'icon-dog-body-type-5'
                      else
                        render 'icon-dog-size-1'
                    endcase
                  endif
                -%}

                {{- radio_text -}}
              </label>
            </div>
          {%- endfor -%}
        </div>
      {%- elsif block.type == 'radio' -%}
        {%- assign radio_array = block.settings.label | split: ',' -%}

        {%- liquid
          if radio_array.size > 2
            assign grid_class = 'quiz-step__radio-wrap--multi_grid'
          else
            assign grid_class = 'quiz-step__radio-wrap--two_grid'
          endif
        -%}

        <div
          class="quiz-step__radio-wrap {{ grid_class }}"
          animate
          animate-fade-in
        >
          {%- for radio_text in radio_array -%}
            <div class="quiz-step__radio-block">
              <input
                class="quiz-step__input"
                type="radio"
                name="{{ block.settings.name | strip }}"
                value="{{ radio_text | downcase | strip }}"
                id="{{ block.settings.name | append: '_' | append: forloop.index }}"
              >

              <label
                class="quiz-step__radio-label"
                for="{{ block.settings.name | append: '_' | append: forloop.index }}"
              >
                {{- radio_text -}}
              </label>
            </div>
          {%- endfor -%}
        </div>
      {%- else -%}
        <input
          class="quiz-step__input"
          type="{{ block.type }}"
          name="{{ block.settings.name }}"
          placeholder="{{ block.settings.placeholder }}"
          animate
          animate-fade-in
          required

          {% if block.type == 'number' %}
            min="1"
            max="{{ block.settings.input_num_limit }}"
            pattern="[0-9]*"
          {% endif %}
          {% if block.type == 'email' %}
            inputmode="email"
          {% endif %}
        >
      {%- endif -%}

      {%- if dog_breeds -%}
        <ul data-breed-list>
          <li>Not sure / Not listed</li>

          {%- for dog_breed in dog_breeds -%}
            <li>
              {{- dog_breed.breed -}}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>

    <div class="quiz-step-contents__bottom">
      {%- if block.settings.show_trust_badge -%}
        <div
          class="quiz-step__trust"
          {% if step_index == 0 %}
            animate animate-fade-in
          {% endif %}
        >
          {%- liquid
            assign trust_logo = section.settings.trust_logo
            assign trust_logo_widths = '74, 92, 148, 184, 222, 276'
            assign trust_logo_sizes = '(max-width: 767px) 74px, (min-width: 768px) 92px'

            assign star_icons = section.settings.trust_star_icons
            assign star_icons_widths = '100, 123, 200, 246, 300, 369'
            assign star_icons_sizes = '(max-width: 767px) 100px, (min-width: 768px) 123px'

            if trust_logo != blank
              echo trust_logo | image_url: width: 276 | image_tag: widths: trust_logo_widths, sizes: trust_logo_sizes, class: 'quiz-step__trust-logo'
            endif

            if star_icons != blank
              echo star_icons | image_url: width: 369 | image_tag: widths: star_icons_widths, sizes: star_icons_sizes, class: 'quiz-step__star-icons'
            endif

            if section.settings.trust_text
              echo section.settings.trust_text
            endif
          -%}
        </div>
      {%- endif -%}

      {%- unless block.settings.hide_next_button -%}
        <input
          class="quiz-step__next-btn button button--primary"
          type="submit"
          value="{{ block.settings.next_btn_text }}"
          disabled
          {% if step_index == 0 %}
            animate animate-fade-in
          {% endif %}
        >
      {%- endunless -%}

      {%- if block.settings.footer_text != blank -%}
        <div class="quiz-step__footer-text">
          {{- block.settings.footer_text -}}
        </div>
      {%- endif -%}
    </div>

    {%- unless step_index == 0 -%}
      <quiz-back
        class="quiz-step__back--desktop"
      >
        {%- render 'icon-arrow' -%}
        {{- section.settings.prev_btn_text -}}
      </quiz-back>
    {%- endunless -%}
  </form>
</quiz-step>
