{{- 'component-timer.css' | asset_url | stylesheet_tag -}}

{%- assign timer = timer_starts_at | split: ',' -%}

{%- assign hours = timer[0] | times: 1 | round -%}
{%- assign minutes = timer[1] | times: 1 | round -%}
{%- assign seconds = timer[2] | times: 1 | round -%}

<div class="js__product_scroll_btn header-timer">
  <div class="header-timer--wrap">
    <p class="header-timer--heading">UNLOCK UP TO 58% OFF</p>

    <div class="header-timer--counter js__timer_wrap">
      <span class="timer_hours">
        {%- if hours < 10 -%}
          0
          {{- hours -}}
        {%- else -%}
          {{- hours -}}
        {%- endif -%}
      </span>
      :
      <span class="timer_minutes">
        {%- if minutes < 10 -%}
          0
          {{- minutes -}}
        {%- else -%}
          {{- minutes -}}
        {%- endif -%}
      </span>
      :
      <span class="timer_seconds">
        {%- if seconds < 10 -%}
          0
          {{- seconds -}}
        {%- else -%}
          {{- seconds -}}
        {%- endif -%}
      </span>
    </div>
  </div>
</div>
