{{ 'custom_2_images_with_popups.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;

    .okendo-reviews_title {
      text-align: center;
    }

    {% if section.settings.border_top %}
      border-top: 1px solid {{ section.settings.section_color_scheme.settings.shadow }};
    {% endif %}
    {% if section.settings.border_bottom %}
      border-bottom: 1px solid {{ section.settings.section_color_scheme.settings.shadow }};
    {% endif %}
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{%- assign main_img_widths = '345, 360, 400, 600, 670, 720, 800, 1080, 1200, 1340, 1800' -%}
{%- capture main_img_sizes -%}
  (min-width: 630px) 600px, calc(100vw - 30px)
{%- endcapture -%}

<div class="section-{{ section.id }}-padding">
  <div
    id="Custom-2-{{ section.id }}"
    class="custom_2"
  >
    <div class="page-width custom_2-content custom_2-content_top">
      {% if section.settings.title_1.size > 0 %}
        <h2
          class="custom_2-title"
        >
          {{- section.settings.title_1 -}}
        </h2>
      {% endif %}
      {% if section.settings.subtitle_1.size > 0 %}
        <p
          class="custom_2-subtitle"
        >
          {{- section.settings.subtitle_1 -}}
        </p>
      {% endif %}

      {% if section.settings.hint_1.size > 0 %}
        <p
          class="custom_2-hint"
        >
          {{- section.settings.hint_1 -}}
        </p>
      {% endif %}

      {% if section.settings.image_1.size > 0 %}
        <div class="custom_2-image_wrapper">
          {{
            section.settings.image_1
            | image_url: width: 600
            | image_tag:
              sizes: main_img_sizes,
              widths: main_img_widths,
              fetchpriority: fetch_priority,
              class: 'custom_2-main_image'
          }}

          {%- assign top_blocks = section.blocks | where: 'type', 'image_1_popup' -%}

          {% for block in top_blocks %}
            <input
              type="radio"
              name="top_popup"
              id="top_block_{{ forloop.index }}_popup"
              class="custom_2-popup_trigger"
              style="top: {{ block.settings.toggle_top }}%; left: {{ block.settings.toggle_left }}%;"
            >

            <label
              for="top_block_{{ forloop.index }}_popup"
              class="custom_2-popup"
            >
              <div class="custom_2-popup_content">
                <div class="custom_2-popup_close">
                  {% render 'icon-close' %}
                </div>
                {% if block.settings.image.size > 0 %}
                  {{
                    block.settings.image
                    | image_url: width: 160
                    | image_tag: sizes: main_img_sizes, widths: main_img_widths, class: 'custom_2-popup_image'
                  }}
                {% endif %}

                {% if block.settings.title.size > 0 %}
                  <h5 class="custom_2-popup_title">{{ block.settings.title }}</h5>
                {% endif %}

                {% if block.settings.text.size > 0 %}
                  <p class="custom_2-popup_text">{{ block.settings.text }}</p>
                {% endif %}
              </div>
            </label>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="page-width custom_2-content custom_2-content_bottom">
      {% if section.settings.title_2.size > 0 %}
        <h2
          class="custom_2-title"
        >
          {{- section.settings.title_2 -}}
        </h2>
      {% endif %}
      {% if section.settings.subtitle_2.size > 0 %}
        <p
          class="custom_2-subtitle"
        >
          {{- section.settings.subtitle_2 -}}
        </p>
      {% endif %}

      {% if section.settings.hint_2.size > 0 %}
        <p
          class="custom_2-hint"
        >
          {{- section.settings.hint_2 -}}
        </p>
      {% endif %}

      {% if section.settings.image_2.size > 0 %}
        <div class="custom_2-image_wrapper">
          {{
            section.settings.image_2
            | image_url: width: 600
            | image_tag:
              sizes: main_img_sizes,
              widths: main_img_widths,
              fetchpriority: fetch_priority,
              class: 'custom_2-main_image'
          }}

          {%- assign bottom_blocks = section.blocks | where: 'type', 'image_2_popup' -%}

          {% for block in bottom_blocks %}
            <input
              type="radio"
              name="bottom_popup"
              id="bottom_block_{{ forloop.index }}_popup"
              class="custom_2-popup_trigger"
              style="top: {{ block.settings.toggle_top }}%; left: {{ block.settings.toggle_left }}%;"
            >

            <label
              for="bottom_block_{{ forloop.index }}_popup"
              class="custom_2-popup"
            >
              <div class="custom_2-popup_content">
                <div class="custom_2-popup_close">
                  {% render 'icon-close' %}
                </div>
                {% if block.settings.image.size > 0 %}
                  {{
                    block.settings.image
                    | image_url: width: 160
                    | image_tag: sizes: main_img_sizes, widths: main_img_widths, class: 'custom_2-popup_image'
                  }}
                {% endif %}

                {% if block.settings.title.size > 0 %}
                  <h5 class="custom_2-popup_title">{{ block.settings.title }}</h5>
                {% endif %}

                {% if block.settings.text.size > 0 %}
                  <p class="custom_2-popup_text">{{ block.settings.text }}</p>
                {% endif %}
              </div>
            </label>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.custom_2-popup_trigger').forEach(function (radio) {
    radio.addEventListener('click', function (event) {
      if (this.checked) {
        if (this.previousChecked) {
          this.checked = false;
          this.previousChecked = false;
        } else {
          document.querySelectorAll('.custom_2-popup_trigger').forEach(function (otherRadio) {
            otherRadio.previousChecked = false;
          });
          this.previousChecked = true;
        }
      }
      event.stopPropagation();
    });
  });

  document.addEventListener('click', function (event) {
    if (!event.target.closest('.custom_2-popup')) {
      document.querySelectorAll('.custom_2-popup_trigger').forEach(function (radio) {
        radio.checked = false;
        radio.previousChecked = false;
      });
    }
  });
</script>

{% schema %}
{
  "name": "Custom 2",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section content part 1 - top"
    },
    {
      "type": "text",
      "id": "title_1",
      "label": "Title 1"
    },
    {
      "type": "textarea",
      "id": "subtitle_1",
      "label": "Subitle 1"
    },
    {
      "type": "textarea",
      "id": "hint_1",
      "label": "Hint 1"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "header",
      "content": "Section content part 2 - bottom"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2"
    },
    {
      "type": "textarea",
      "id": "subtitle_2",
      "label": "Subitle 2"
    },
    {
      "type": "textarea",
      "id": "hint_2",
      "label": "Hint 2"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "header",
      "content": "Section layout settings"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "border_top",
      "label": "Border top",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "Border bottom",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image_1_popup",
      "name": "Image 1 popup (top)",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Popup image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Popup title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Popup text"
        },
        {
          "type": "range",
          "id": "toggle_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Popup toggle position - top",
          "default": 50
        },
        {
          "type": "range",
          "id": "toggle_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Popup toggle position - left",
          "default": 50
        }
      ]
    },
    {
      "type": "image_2_popup",
      "name": "Image 2 popup (bottom)",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Popup image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Popup title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Popup text"
        },
        {
          "type": "range",
          "id": "toggle_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Popup toggle position - top",
          "default": 50
        },
        {
          "type": "range",
          "id": "toggle_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Popup toggle position - left",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom 2 (img with popups)"
    }
  ]
}
{% endschema %}
