{{ 'custom_3.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;

    {% if section.settings.border_top %}
      border-top: 1px solid {{ section.settings.section_color_scheme.settings.shadow }};
    {% endif %}
    {% if section.settings.border_bottom %}
      border-bottom: 1px solid {{ section.settings.section_color_scheme.settings.shadow }};
    {% endif %}
  }

  .custom_3_section__letter {
    background-image: url('{{ section.settings.bg_image | img_url:'951x1122' }}');
    background-size: cover;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{%- assign additional_img_widths = '91, 182, 231, 273, 462, 693' -%}
{%- capture additional_img_sizes -%}
  (min-width: 1200px) 231px, 91px
{%- endcapture -%}

{%- assign main_img_widths = '262, 413, 524, 786, 826, 1239' -%}
{%- capture main_img_sizes -%}
  (min-width: 768px) 413px, 262px
{%- endcapture -%}

<div class="section-{{ section.id }}-padding">
  <div
    id="Custom-3-{{ section.id }}"
    class="custom_3"
  >
    <div class="page-width custom_3-content custom_3-content_top">
      <div class="custom_3_section__bg">
        <div class="custom_3_section__letter">
          <h2 class="custom_3_section__title">
            {{- section.settings.title -}}
          </h2>

          <p class="custom_3_section__description">
            {% if section.settings.descr_truncate_words > 0 %}
              <span class="custom_3__content_truncated">
                {{- section.settings.description | truncatewords: section.settings.descr_truncate_words -}}

                <a href="#" id="js__custom_3_trigger" class="custom_3_trigger">read more</a>
              </span>

              <span class="custom_3__content_full">
                {{- section.settings.description -}}
              </span>
            {% else %}
              {{- section.settings.description -}}
            {% endif %}
          </p>

          <div class="additional_img_1 absolute_img">
            {{
              section.settings.additional_img_1
              | image_url: width: 91
              | image_tag:
                sizes: additional_img_sizes,
                widths: additional_img_widths,
                fetchpriority: fetch_priority,
                class: 'custom_3_additional_img'
            }}
          </div>

          <div class="additional_img_2 absolute_img">
            {{
              section.settings.additional_img_2
              | image_url: width: 91
              | image_tag:
                sizes: additional_img_sizes,
                widths: additional_img_widths,
                fetchpriority: fetch_priority,
                class: 'custom_3_additional_img'
            }}
          </div>

          <div class="additional_img_3 absolute_img">
            {{
              section.settings.additional_img_3
              | image_url: width: 91
              | image_tag:
                sizes: additional_img_sizes,
                widths: additional_img_widths,
                fetchpriority: fetch_priority,
                class: 'custom_3_additional_img'
            }}
          </div>

          <div class="additional_img_bottom desktop">
            {{
              section.settings.bottom_desktop
              | image_url: width: 262
              | image_tag:
                sizes: additional_img_sizes,
                widths: additional_img_widths,
                fetchpriority: fetch_priority,
                class: 'bottom_main_img_mobile custom_3_section_img'
            }}
          </div>

          <div class="additional_img_bottom mobile">
            {{
              section.settings.bottom_mobile
              | image_url: width: 262
              | image_tag:
                sizes: additional_img_sizes,
                widths: additional_img_widths,
                fetchpriority: fetch_priority,
                class: 'bottom_main_img_mobile custom_3_section_img'
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script></script>

{% schema %}
{
  "name": "Custom 3",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section content part 1 - top"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bottom_mobile",
      "label": "Bottom Mobile Image"
    },
    {
      "type": "image_picker",
      "id": "bottom_desktop",
      "label": "Bottom Desktop Image"
    },
    {
      "type": "range",
      "id": "descr_truncate_words",
      "min": 0,
      "max": 99,
      "step": 1,
      "unit": "wrd",
      "label": "Add Read More button after",
      "default": 0
    },
    {
      "type": "image_picker",
      "id": "additional_img_1",
      "label": "Additional Image 1 (left top)"
    },
    {
      "type": "image_picker",
      "id": "additional_img_2",
      "label": "Additional Image 2 (right top)"
    },
    {
      "type": "image_picker",
      "id": "additional_img_3",
      "label": "Additional Image 3 (left bottom)"
    },
    {
      "type": "header",
      "content": "Section layout settings"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "border_top",
      "label": "Border top",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "Border bottom",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Custom 3 (Full story)"
    }
  ]
}
{% endschema %}
