{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'section-product-main.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-product-main.js' | asset_url }}" defer="defer"></script>

{% assign product_picker = product.metafields.os20.product_picker.value %}

{%- comment -%}
  FIND SELLING PLAN
{%- endcomment -%}
{%- liquid
  for selling_plan_group in product.selling_plan_groups
    if selling_plan_group.name == product.title
      assign selling_group = selling_plan_group
    endif
  endfor

  assign selling_plans = selling_group.selling_plans
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;

    .picker-offer_label-savings {
      background: {{ section.settings.section_color_scheme.settings.background }};
    }

  }
{%- endstyle -%}

<section
  id="MainProduct-jc-{{ section.id }}"
  class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
  data-section="{{ section.id }}"
>
  {%- assign widths = '345, 565, 750, 1130, 1695' -%}
  {%- capture sizes -%}
    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
  {%- endcapture -%}

  {%- assign widths_thumbs = '92, 184, 276' -%}
  {%- capture sizes_thumbs -%}
    (min-width: {{ settings.page_width }}px) 92px,
    (min-width: 750px) 92px, 92px
  {%- endcapture -%}

  <script>
    console.log({{ product.metafields.os20.product_picker.value | json }})
  </script>
  <div class="product-main_wrapper page-width">
    <div class="product-main_left">
      {% if product_picker.custom_title or product_picker.custom_subtitle %}
        <div class="product-main_info product-main_info-mobile">
          {% if product_picker.custom_title %}
            <h1 class="h2 product-main_title">
              {{ product_picker.custom_title }}

              {% if product_picker.custom_title_numbers %}
                <span class="h5 product-main_title_numbers">{{ product_picker.custom_title_numbers }}</span>
              {% endif %}
            </h1>
          {% endif %}

          {% if product_picker.custom_subtitle %}
            <h4 class="product-main_subtitle">
              {{ product_picker.custom_subtitle }}
            </h4>
          {% endif %}
        </div>
      {% endif %}

      {% assign hero_images_arr = product_picker.carousel_images.value %}
      {% assign hero_thumbs_arr = product_picker.carousel_thumbnails.value %}
      {% if hero_images_arr %}
        <slideshow-component
          class="slider-mobile-gutter"
          role="region"
          aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
          aria-label="{{ section.settings.accessibility_info | escape }}"
        >
          <div
            class="grid grid--1-col product-main__slider slider slider--everywhere{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            id="Slider-{{ section.id }}"
            aria-live="polite"
            aria-atomic="true"
            data-autoplay="false"
            data-speed="5"
          >
            {% for slide in hero_images_arr %}
              <div
                class="slideshow__slide product-main__slide grid__item grid--1-col slider__slide"
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                role="group"
                aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                tabindex="-1"
              >
                {{
                  slide
                  | image_url: width: 1695
                  | image_tag: sizes: sizes, widths: widths, class: 'product-main__slider_image'
                }}
              </div>
            {% endfor %}
          </div>

          <div class="slider-buttons">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
              aria-controls="Slider-{{ section.id }}"
              style="display: none;"
            >
              {% render 'icon-caret' %}
            </button>
            <div class="slider-counter slider-counter--dots slider-counter--thumbs">
              <div class="slideshow__control-wrapper slideshow__control-wrapper-thumbs">
                {%- for thumb in hero_thumbs_arr -%}
                  <button
                    class="slider-counter__link slider-counter__link--dots slider-counter__link--thumbs-dots link"
                    aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                    aria-controls="Slider-{{ section.id }}"
                  >
                    <div class="thumbs-dot">
                      {{
                        thumb
                        | image_url: width: 200
                        | image_tag: sizes: sizes_thumbs, widths: widths_thumbs, class: 'product-main__thumbs_image'
                      }}
                    </div>
                  </button>
                {%- endfor -%}
              </div>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
              aria-controls="Slider-{{ section.id }}"
              style="display: none;"
            >
              {% render 'icon-caret' %}
            </button>
          </div>
        </slideshow-component>
      {% endif %}
    </div>

    <div class="product-main_right">
      {% if product_picker.custom_title or product_picker.custom_subtitle %}
        <div class="product-main_info product-main_info-desktop">
          {% if product_picker.custom_title %}
            <h2 class="product-main_title">
              {{ product_picker.custom_title }}

              {% if product_picker.custom_title_numbers %}
                <span class="h5 product-main_title_numbers">{{ product_picker.custom_title_numbers }}</span>
              {% endif %}
            </h2>
          {% endif %}

          {% if product_picker.custom_subtitle %}
            <h4 class="product-main_subtitle">
              {{ product_picker.custom_subtitle }}
            </h4>
          {% endif %}

          {% if product_picker.custom_description %}
            <p class="product-main_description">
              {{ product_picker.custom_description }}
            </p>
          {% endif %}
        </div>
      {% endif %}

      <div class="picker-wrapper">
        {%- assign purchase_options = 'sub, otp' | split: ', ' -%}

        <form class="picker-form">
          <div class="picker-dogsizes">
            {%- assign first_checked_dogsize_index = 1 -%}
            {% for dogsize in product_picker.dogsizes.value %}
              {% if dogsize.type == 'link' %}
                {%- assign first_checked_dogsize_index = first_checked_dogsize_index | plus: 1 -%}
                <a
                  class="picker-dogsize_label picker-dogsize_link"
                  id="js__picker-dogsize_link"
                  href="{{ dogsize.redirect_url }}"
                >
                  {{ dogsize.title }}
                </a>
              {% else %}
                <input
                  class="picker-dogsize_item picker-dogsize_input"
                  id="picker-dogsize_{{ forloop.index }}"
                  type="radio"
                  name="picker-dogsize"
                  data-offers-group="picker-dogsize_{{ forloop.index }}_offers-group"
                  value="{{ dogsize.value }}"
                  {% if forloop.index == first_checked_dogsize_index %}
                    checked
                  {% endif %}
                >
                <label
                  class="picker-dogsize_label"
                  for="picker-dogsize_{{ forloop.index }}"
                >
                  {{ dogsize.value }}
                </label>
              {% endif %}
            {% endfor %}
          </div>

          <div
            class="picker-offers"
          >
            {% for purchase_option in purchase_options %}
              {% for dogsize in product_picker.dogsizes.value %}
                {%- assign dogsize_index = forloop.index -%}
                {% unless dogsize.type == 'link' %}
                  <div
                    class="picker-dogsize_offers-group"
                    id="picker-dogsize_{{ dogsize_index }}_offers-group-{{ purchase_option }}"
                    {% if dogsize_index != first_checked_dogsize_index or purchase_option != 'sub' %}
                      style="display: none;"
                    {% endif %}
                  >
                    {% for offer_quantity in dogsize.offers_quantities.value %}
                      {%- comment -%}
                        OFFER CALCULATIONS
                      {%- endcomment -%}
                      {%- assign daily_dosage = dogsize.daily_dosage -%}
                      {%- assign interval_unit = dogsize.interval_unit -%}
                      {%- assign servings_per_package = product_picker.servings_per_package -%}
                      {%- assign offer_interval_days = offer_quantity
                        | times: servings_per_package
                        | divided_by: daily_dosage
                      -%}
                      {%- assign offer_interval = offer_interval_days -%}
                      {%- if interval_unit == 'month' -%}
                        {%- assign offer_interval = offer_interval_days | divided_by: 30 | round -%}
                      {%- endif -%}

                      {%- if purchase_option == 'sub' -%}
                        {%- assign offer_variant = dogsize.sub_variant.value -%}
                      {%- elsif purchase_option == 'otp' -%}
                        {%- assign offer_variant = dogsize.otp_variant.value -%}
                      {%- endif -%}
                      {%- assign offer_variant_discount_arr = offer_variant.metafields.quantity_discounts.variant.value -%}
                      {%- assign offer_discount = 0 -%}
                      {% for discount in offer_variant_discount_arr %}
                        {%- assign discount_temp = discount[0] | times: 1 -%}
                        {% if discount_temp == offer_quantity %}
                          {%- assign offer_discount = discount[1] -%}
                        {% endif %}
                        {% if forloop.last and offer_quantity > discount_temp %}
                          {%- assign offer_discount = discount[1] -%}
                        {% endif %}
                      {% endfor %}

                      {%- assign offer_discount_num = offer_discount | remove: '%' | times: 1 -%}
                      {%- assign offer_price_default = offer_variant.price | times: offer_quantity -%}
                      {%- assign offer_discount_decimal = offer_discount_num | times: 1.0 | divided_by: 100 -%}
                      {%- assign offer_discounted_decimal = 1.0 | minus: offer_discount_decimal -%}
                      {%- assign offer_price_discounted = offer_price_default | times: offer_discounted_decimal -%}

                      {%- if product_picker.price_per == 'day' -%}
                        {%- assign offer_price_per_num = offer_price_discounted | divided_by: offer_interval_days -%}
                        {%- assign offer_price_per_text = product_picker.price_per -%}
                      {%- else -%}
                        {%- assign offer_price_per_num = offer_price_discounted
                          | divided_by: offer_quantity
                          | divided_by: servings_per_package
                        -%}
                        {%- assign offer_price_per_text = product_picker.serving_name -%}
                      {%- endif -%}

                      {% comment %}
                        FIND SELLING PLAN
                      {% endcomment %}
                      {% assign interval_name = offer_interval | append: ' ' | append: interval_unit | downcase %}
                      {%- for selling_plan in selling_plans -%}
                        {%- assign selling_plan_name = selling_plan.name | downcase -%}
                        {%- if selling_plan_name contains interval_name -%}
                          {%- assign selling_plan_id = selling_plan.id -%}
                        {%- endif -%}
                      {%- endfor -%}

                      <input
                        class="picker-offer_item picker-offer_input"
                        id="picker-{{ purchase_option }}-dogsize_{{ dogsize_index }}-offer_{{ forloop.index }}"
                        type="radio"
                        name="picker-{{ purchase_option }}-dogsize_{{ dogsize_index }}-offer"
                        data-purchase-type-="{{ purchase_option }}"
                        data-dogsize="{{ dogsize.value }}"
                        {% if purchase_option == 'sub' %}
                          data-selling-plan="{{ selling_plan_id }}"
                        {% endif %}
                        data-discounted-price="{{ offer_price_discounted | money }}"
                        value="{{ forloop.index }}"
                        {% if forloop.index == 2 %}
                          checked
                        {% endif %}
                      >
                      <label
                        class="picker-offer_label"
                        for="picker-{{ purchase_option }}-dogsize_{{ dogsize_index }}-offer_{{ forloop.index }}"
                      >
                        <span class="picker-offer_label-circle"></span>

                        <div class="picker-offer_label-left">
                          <p>
                            {{- offer_interval }}
                            {{ interval_unit | camelcase }}(s) supply
                          </p>
                          {% unless product_picker.price_per == 'none' %}
                            <p>{{ offer_price_per_num | money }} / {{ offer_price_per_text }}</p>
                          {% endunless %}
                        </div>

                        <div class="picker-offer_label-right">
                          <span class="picker-offer_label-savings">Save {{ offer_discount }}</span>
                        </div>
                      </label>
                    {% endfor %}
                  </div>
                {% endunless %}
              {% endfor %}
            {% endfor %}
          </div>

          <div class="picker-purchase_type-wrapper">
            <label class="picker-purchase_type-switch">
              <input
                class="picker-purchase_type"
                id="js__picker-purchase_type"
                type="checkbox"
                checked=""
              >
              <span class="picker-purchase_type-switcher"></span>
            </label>
            <div class="picker-purchase_type-content">
              <h5>Upgrade + Save More!</h5>
              <p>Zero commitment, Cancel Anytime</p>
            </div>
          </div>
          <button
            class="button button--primary picker-submit_btn"
            id="picker-submit_btn"
          >
            <p>
              <span>{{ product_picker.cta_button_text }}</span> —
              <span id="picker-submit_btn-price_discounted"></span>
            </p>

            {%- if product_picker.cta_mbg_text -%}
              <div class="picker-submit_btn-guarantee_wrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  class="picker_jc_new__btn_guarantee_icon"
                >
                  <path d="M9 16.5C9 16.5 15 13.5 15 9V3.75L9 1.5L3 3.75V9C3 13.5 9 16.5 9 16.5Z" stroke="#FFDEDC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M11.3636 7L8.36364 10L7 8.63636" stroke="#FFDEDC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <p class="picker-submit_btn-guarantee_text">
                  {{- product_picker.cta_mbg_text -}}
                </p>
              </div>
            {%- endif -%}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main product",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
